@font-face {
    font-family: OndoBold;
    src: url(../../assets/fonts/Ondo_Bold.ttf);
  }
  @font-face {
    font-family: OndoMed;
    src: url(../../assets/fonts/Ondo_Medium.ttf);
  }
  @font-face {
    font-family: OndoReg;
    src: url(../../assets/fonts//Ondo_Regular.ttf);
  }
  
  @font-face {
      font-family: Lato;
      src: url(../../assets/fonts/Lato-Regular.ttf);
  }
  

.center-img{
    mix-blend-mode:plus-lighter;
    width: 80%;
    margin: auto;
}

.home-content{
    background-size: cover;
}

.home-main-heading{
    color: white;
    margin: auto;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    font-family: OndoBold;
}

.page-br{
    min-width: 1400px;
    margin: 50px auto;
}

.home-lato{
    font-family: Lato;
}