.fill-btn {
  background-size: cover;
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
  transition: 1s;
  transform: skewX(-15deg);
  border: none;
  /* box-shadow: 6px 6px  rgba(255, 255, 255, 0.2); */
  /* text-align: center; */
}

.fill-btn:focus {
  outline: none;
}

.fill-btn:hover {
  transition: 0.5s;
  /* box-shadow: 10px 10px 10px #FFF; */
}

.outline-btn {
  border: 4px solid;
  border-style: inset;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  border-image-slice: 1;
  text-decoration: none;
  /* border-width: 5px; */
  border-image-source: url(../../../assets/colorStyle.jpg);
  font-family: 'Poppins', sans-serif;
  transform: skewX(-15deg);
  font-weight: 700;
  padding: 7px 30px;
  font-size: 16px;
}

.btn-span {
  transform: skewX(15deg);
  display: inline-block;
  /* text-align: center; */
  margin: auto;
}

.btn-img{
  height: 24px;
  margin-right: 10px;
}